{% rxtends 'base.html %'}
{% import 'macros.html' as macros %}

<!-- Style Block -->
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="/app/static/images.jpeg" alt="clock">
        </div>
        <div class="col-6">
            <p> In life you only have 60 seconds to impress someone. One minute to make or break you. How do we make sure that you use your one minute to actually say something meaningful ?</p>
        </div>
    </div>
<hr>
    <h1>Categories</h1>
    <h4>{{ macro.displayCategoryList(category) }}</h4>
    <div class="col">
        <h4 class="add-category" class="btn btn-warning" href="/add/category">Create a category</h4>
    </div>
</div>

    {% endblock% }